<?xml version="1.0"?>
<tables>
    <!-- 
         Copy the following section to tool_data_table_conf.xml file in your Galaxy distribution if you are adding Complete Genomics tools manually to your Galaxy instance
    -->
    <!-- Start location of cgatools crr files -->
    <table name="cg_crr_files" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/cg_crr_files.loc" />
    </table>
    <!-- End Location of cgatools crr files -->
</tables>
